<% provide(:title, "Home") %>
<div class="welcome-callout">

  <h1>Welcome to the sample app</h1>
  <p>This is the hompepage for the sample app for <a href="https://www.railstutorial.org/book/">Ruby on rails tutorial</a></p>
  <a href="/static_pages/login" class="button large">Sign up now!</a>

</div>
