<hr>

<div class="small-6 columns">
  David Lejeune
</div>

<div class="small-6 columns">
  <ul class="menu align-right">
    <li><a href="/static_pages/about">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">News</a></li>
  </ul>
</div>
