<!DOCTYPE html>


<%-#found code on site foundations , search top bar -%>
<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Sample Application</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/static_pages/home">Home</a></li>
        <li><a href="/static_pages/help">Help</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
